<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.css">

  <!-- BOOTSTRAP ICONS -->
  <link rel="stylesheet" href="../assets/css/bootstrap-icons.css">

  <!-- APP CSS -->
  <link rel="stylesheet" href="../assets/css/app.css" />
</head>

<body>

  <header class="bg-body-tertiary mb-3">

    <nav class="navbar border-bottom py-0 px-3 drag">

      <span class="fs-5">About</span>

      <ul class="nav nav-pills ms-auto py-1">

        <li class="nav-item no-drag">
          <button class="btn btn-outline-danger btn-sm py-0" onclick="windowClose()"><i
              class="bi bi-x-lg px-2"></i></button>
        </li>

      </ul>

    </nav>

  </header>

  <main class="container-fluid">
    
    This is about window

  </main>

  <footer>

  </footer>

  <!-- WINDOW SCRIPT -->
  <script src="../scripts/about.js" defer></script>

</body>

<!-- BOOTSTRAP BUNDLE WITH POPPER -->
<script src="../assets/js/bootstrap-bundle.js"></script>

</html>