::-webkit-scrollbar {
    display: none;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

*,
*::after,
*::before {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}